body, html {
  background-color: DarkSlateGray;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: fixed;
}

div.page {
  height: 100%;
  padding: 0px;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 40px auto;
}

h1 {
  text-align: center;
  color: white;
  font-size: 69pt;
}

div.btn:hover {
  background-color: #f9dfbe;
}

div#settings {
  padding: 0px;
  background-color: #999;
  color: white;
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  background: linear-gradient(to bottom, #BBB, #999);
}

div#deviceSelector {
  background-color: #000;
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

p.deviceSelector {
  background-color: #666;
  text-align: center;
  padding: 12px 0 0 0;
}
p.deviceSelector:hover {
  background-color: #888;
}

p.deviceSelector:active {
  background-color: #AAA;
}

p {
  cursor: default;
}

div#devices {
  padding: 5px;
  margin: 0px;
  background-color: #CCC;
  color: white;
  grid-column: 1 / 2;
  grid-row: 2 / span 1;
  grid-gap:5px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 100px);
  background: linear-gradient(to bottom right, #CCC, #BBB);
}

.light, .switch, .plug {
  padding: 5px 0px 10px 0px;
  margin: 0px;
  background-color:  #888;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-gap: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #555;
}

.light:hover, .switch:hover, .plug:hover   {
  background-color:  #AAA;
  box-shadow: 1px 1px 4px #555;
}

p {
  background-color: #777;
  padding: 5px;
  margin: 0px;
  color: #DDD;
  height: auto;
}

#devices p#name {
  font-size: 20pt;
  padding: 6px;
}

#settings p#name {
  font-size: 20pt;
  padding: 6px;
  grid-column: 1/2;
  text-align: center;
}

.lightSettings, .switchSettings, .plugSettings{
  display: grid;
  grid-template-columns: 110px 100px auto;
  grid-gap: 4px 0px;
}

.colorPicker {
  background-color: #888;
  padding: 5px;
  display: grid;
  grid-column: 1/4;
  grid-template-columns: auto 90px;
  grid-template-rows: 30px 30px 30px;
  grid-column-gap: 5px;
  height:90px;
  width: auto;
}

.slider {
  background-color: white;
  -webkit-appearance: none;
  appearance: none;
  grid-column: 1/2;
  width: 100%;
  height: 10px;
  margin: 10px 0px 10px 5px;
  background: #555;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.slider:hover {
  opacity:1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 13px;
    cursor: pointer; /* Cursor on hover */
}

#redSlider::-webkit-slider-thumb {
  background: red;
}

#greenSlider::-webkit-slider-thumb {
  background: green;
}

#blueSlider::-webkit-slider-thumb {
  background: blue;
}

#colorIndicator {
  background-color: white;
  grid-column: 2/3;
  grid-row: 1/4;
  border-radius: 50px;
  margin: 10px;
}

#quickColorSelector {
  display: grid;
  padding: 5px;
  margin: 4px 0px;
  height: 50px;
  background-color: #777;
  grid-column: 1/3;
  grid-template-columns: 80px 80px repeat(auto-fill, 50px);
  grid-template-rows: 50px;
  overflow: hidden;
  grid-gap:5px;

}
.quickColor {
  width:50px;
  height:50px;
  background-color: #DDD;
  grid-row: auto;
  border-radius: 30px;
}

div#scheduleSelector {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25px 60px;
  height:100px;
  grid-column: 1/3;
  grid-row: auto;
  margin: 0;
  padding: 0;

}

#times {
  grid-column: auto;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(24 auto);
  grid-template-rows: 25px;
  height:25px;
  padding: 2px;
  grid-gap: 2px
}

.time {
  text-align: center;
  font-size: 10pt;
  grid-column: auto;
  grid-row: 1/2;
}

#savePreset {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 6px;
  font-size: 13pt;
  background-color: #555;
  text-align: center;
  border-radius: 5px;

}

#deletePreset:hover {
  background-color: #333;
}

#deletePreset {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 6px;
  font-size: 13pt;
  background-color: #555;
  text-align: center;
  border-radius: 5px;

}

#savePreset:hover {
  background-color: #333;
}


input#nameField, input#slaveField {
  padding: 5px;
  margin: 0;
  font-size: 18pt;
  color: black;
  background-color: #EEE;
  grid-column: 2/4;
  font-family: 'Courier New', Courier, monospace;
}

input#nameField:active {
  color: #222;
}

div#onTimes {
  display: grid;
  grid-template-columns: repeat(96 auto);
  grid-template-rows: 60px;
  grid-gap: 2px;
  padding: 4px 2px;
}

.onTimes {
  background-color: #333;
  grid-row: 1/2;
  grid-column: auto;
}

#settings #onButton {
  grid-column: 2/3;
  width: 95px;
  background-color: #555;
  text-align: center;
  padding: 10px 0 0 0;
  border-style: solid;
  border-width: 2px;
  border-color: #333;
}

#settings #offButton{
  grid-column: 3/4;
  width: 95px;
  background-color: #555;
  text-align: center;
  padding: 10px 0 0 0;
  border-style: solid;
  border-width: 2px;
  border-color: #333;
}

#scheduler {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  margin: 5px 0 0 0;
  padding: 0;
  grid-gap: 5px;
}

#onTimesDiv, #offTimesDiv {
  background-color: #888;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px auto;
  padding: 0;
  margin: 0;
}

#onTimesBtnAdd, #offTimesBtnAdd,#onTimesBtnDelete, #offTimesBtnDelete {
  background-color: #555;
  text-align: center;
  margin: 2px 0 0 0;
  grid-column: 2/3;
}

#onTimesBtnAdd {
  grid-row: 1/2;
}

#offTimesBtnDelete {
  grid-row: 2/3;
}

#onTimesBtnAdd:hover, #offTimesBtnAdd:hover, #onTimesBtnDelete:hover, #offTimesBtnDelete:hover {
  background-color: #666;
}

#onTimesBtnAdd:hover, #offTimesBtnAdd:hover, #onTimesBtnDelete:hover, #offTimesBtnDelete:hover {
  background-color: #777;
}

#onTimesInput, #offTimesInput {
  text-align: center;
  grid-column: 1/ 2;
  grid-row: 1/3;
  font-size: 14pt;
  padding: 0;
  margin: 0;
}

.onTimeInstance {
  background-color: #777;
  grid-column: 1/2;
  grid-row: auto;
  margin: 2px 0 0 0;
  padding: 5px;
  text-align: center;
}

.onTimeInstance:hover {
  background-color: #888;
}

#onTimesList {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 30px);
  grid-column: 1/3;
  grid-row: 3/4;
}